.scrollable {
  overflow-y: auto;
  height: 100px;
}
.spaced {
  margin-bottom: 20px;
}

.scrollableList {
  overflow-y: auto;
  height: 150px;
}

.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.11);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-black::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.11);
  background-color: #000;
}

.scrollbar-black {
  scrollbar-color: rgba(255, 255, 255, 0.11) #f5f5f5;
}

.bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

.bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
  border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.img-vehicle {
  background: 50% 50% no-repeat;
  width: 70px;
  height: 70px;
}
