<h1>
  {{ film.title | uppercase }}
  <small> ({{ film.release_date }})</small>
</h1>
<hr />

<div class="row">
  <div class="col-md-4">
    <img
      src="{{ film.giphyUrl }}"
      class="card-img-top img-fluid"
      [alt]="film.title"
    />
    <br /><br />
    <a [routerLink]="['/peliculas']" class="btn btn-outline-warning btn-block"
      >Back</a
    >
  </div>

  <div class="col-md-8">
    <h3>{{ film.title }}</h3>
    <hr />
    <ul class="list-group list-group-flush">
      <li *ngFor="let planet of film.planets" class="list-group-item">
        {{ getPlanetName(planet) }}
      </li>
    </ul>
  </div>
</div>
