.scrollable {
  overflow-y: auto;
  height: 100px;
}
.spaced {
  margin-bottom: 20px;
}
.scrollableList {
  overflow-y: auto;
  height: 145px;
}

.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(238, 238, 238, 0.473);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-black::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(238, 238, 238, 0.473);
  background-color: rgba(238, 238, 238, 0.473);
}

.scrollbar-black {
  scrollbar-color: rgba(238, 238, 238, 0.473) #f5f5f5;
}

.bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid rgba(238, 238, 238, 0.473);
}

.bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
}

.square::-webkit-scrollbar-track {
  border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
  width: 6px;
}
