<div class="card animated fadeIn fast cardWidth">
    <img src="{{ personaje.giphyUrl }}" class="card-img-top img-fluid imgHeight" [alt]="personaje.name" />

    <div class="card-block card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <p class="card-text">Gender: {{ personaje.gender }}</p>
        <p class="card-text">
            <small class="text-muted">Birth: {{ personaje.birth_year }}</small>
        </p>

        <button (click)="verMas()" class="btn btn-outline-dark btn-block">
          More Details...
        </button>
    </div>


</div>